<a href="https://colab.research.google.com/github/vipin0761/pwskills_DS/blob/main/Pandas_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
import pandas as pd
data = [4, 8, 15, 16, 23, 42]
ser = pd.Series(data)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

arr = [i for i in range(10)]
ss = pd.Series(arr)
print(ss)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [4]:
arr2 = {'Name':['Alice','Bob','Claire'], 'Age':[25,30,27], 'Gender': ['Female', 'Male','Female']}
df = pd.DataFrame(arr2)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

a data frame is a collection of columns representing different parameters associated with data where as a serier is a single pramaeter (column) associated with the data. series is similar to list in python.

e.g. a record of students with name, age and subjects is a data frame while just the names of students id a series


Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

dtypes, description, head, tail,

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

All Pandas data structures are value mutable (can be changed) and except Series all are size mutable. Series is size immutable.

In [9]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.

courses = pd.Series(["Spark","PySpark","Hadoop"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])

df=pd.concat([courses,fees,discount],axis=1)
print(df)

         0      1     2
0    Spark  22000  1000
1  PySpark  25000  2300
2   Hadoop  23000  1000