<a href="https://colab.research.google.com/github/vipin0761/pwskills_DS/blob/main/Pandas_Advance-2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

# Q1. Write a code to print the data present in the second row of the dataframe, df.
print(df[1:2])

# Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?
# both loc and iloc are used to extract specific row and clo number combination.  loc can select column baswd on their indexes but iloc need the tilte of column to select it
# also loc reads the indices assigned by the user while the iloc reads the indices assigned by system for rows

Object `pandas.DataFrame` not found.
        course_name  duration
1  Machine Learning         3

In [43]:

import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

# Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
# then find the output for both new_df.loc[2] and new_df.iloc[2].
# Did you observe any difference in both the outputs? If so then explain it.

# yes loc reads the indices assigned by the user while the iloc reads the indices assigned by system for rows

In [10]:
new_df = df1.reindex([3,0,1,2])
new_df

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.009084  0.789902  0.303681  0.742451  0.921194  0.298211
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.087178  0.204798  0.196680  0.352830  0.200696  0.714475
2  0.506405  0.930976  0.313850  0.654600  0.281154  0.261004

In [11]:
print(new_df.loc[2])
print(new_df.iloc[2])

column_1    0.506405
column_2    0.930976
column_3    0.313850
column_4    0.654600
column_5    0.281154
column_6    0.261004
Name: 2, dtype: float64
column_1    0.087178
column_2    0.204798
column_3    0.196680
column_4    0.352830
column_5    0.200696
column_6    0.714475
Name: 1, dtype: float64

In [20]:
# Q4. Write a code to find the following statistical measurements for the above dataframe df1:
# (i) mean of each and every column present in the dataframe.
# (ii) standard deviation of column, ‘column_2’

df_mean = df1.mean(axis=1)
print(df_mean)

df_std = df1[['column_2']]
print(df_std.std())

1    0.292776
2    0.491332
3    0.510754
4    0.504015
5    0.443535
6    0.550012
dtype: float64
column_2    0.368843
dtype: float64

In [45]:
# Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
# If you are getting errors in executing it then explain why.
# [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]
print(df1)
df1.loc[2,'column_2'] = 'demo'
print(df1)

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.117018  0.163044  0.924548  0.619875  0.105785  0.142525
2  0.800233      demo  0.919738  0.578511  0.124028  0.416441
3  0.292668   0.70727  0.213613  0.235510  0.358366  0.971428
4  0.898342  0.347759  0.135382  0.850311  0.556793  0.309196
5  0.840058  0.147312  0.349957  0.364441  0.705561  0.078876
6  0.492575  0.154298  0.738326  0.953124  0.395963  0.888692
   column_1  column_2  column_3  column_4  column_5  column_6
1  0.117018  0.163044  0.924548  0.619875  0.105785  0.142525
2  0.800233      demo  0.919738  0.578511  0.124028  0.416441
3  0.292668   0.70727  0.213613  0.235510  0.358366  0.971428
4  0.898342  0.347759  0.135382  0.850311  0.556793  0.309196
5  0.840058  0.147312  0.349957  0.364441  0.705561  0.078876
6  0.492575  0.154298  0.738326  0.953124  0.395963  0.888692
Series([], dtype: float64)

<ipython-input-45-1e5d428a462b>:9: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df_test.mean())

In [46]:
df_test = df1[['column_2']]
print(df_test.mean())
 # it is erroring out as string is not a compatible data type for this operation

Series([], dtype: float64)

<ipython-input-46-af775af8463b>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df_test.mean())

In [ ]:
# Q6. What do you understand about the windows function in pandas and list the types of windows functions?

# a window function is basically used to perform a rolling computation on a dataset with n latest values
# Rolling window
# Weighted window
# Expanding window
# Exponentially Weighted window

In [57]:
from datetime import date
# Q7. Write a code to print only the current month and year at the time of answering this question.
# [Hint: Use pandas.datetime function]

from datetime import date
df7 = pd.DataFrame({"date" : [date.today()]})
df7['updated_date'] = pd.to_datetime(df7['date'])
print(df7['updated_date'].dt.year)
print(df7['updated_date'].dt.month)

0    2023
Name: updated_date, dtype: int64
0    9
Name: updated_date, dtype: int64

In [73]:
# Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
# calculates the difference between them in days, hours, and minutes using Pandas time delta. The
# program should prompt the user to enter the dates and display the result.

d1 = input("Enter First Date")
d2 = input("Enter Second Date")

KeyboardInterrupt: ignored

In [72]:
pd.Timedelta(df8['date'][0],df8['date'][1], unit='days')

df8['updated_date'][0]

TypeError: ignored